body {
    font-family: Arial,Helvetica, sansserif;
        background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.header {
    padding:80px;
    text-align: center;
    color:rgb(0, 0, 0);
    
}

.en:hover, .el:hover {
    background-color: #7EB6D2 !important;
}
.header h1 {
    font-size: 40px;
    text-shadow: 0px 0px 10px rgba(255,255,255,0.8);
}
.navbar{
    overflow:hidden;
    background-color:#2C3E50;
}
.navbar a{
    float:left;
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
}
.navbar a:right{
    float:right;
}
.navbar a:hover{
    background-color:#7EB6D2;
    color:black;
}
.navbar-btn{
    overflow:hidden;
    background-color:#2C3E50
}
.navbar-btn a{
    color:white;
    float:right;
    text-align:center;
    padding:14px 16px;
    text-decoration:none;
    display:block;
}
.navbar-btn:right{
    float:right;
}

*{
    box-sizing: border-box;
}
.row{
    display:flex;
    flex-wrap:wrap;
}
.side{
    flex:30%;
    background-color:#F4D03F;
    padding:10px;
}
.main{
    flex:70%;
    background-color:#F4D03F;
    padding: 20px;
}
.footer{
    padding:20px;
    width:100%;
    text-align:center;
    background-color:rgb(44, 62, 80, 0.8);
    color:white;
}